<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a [routerLink]="['/']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>SIM</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">Clinica<b>SIM</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- /.messages-menu -->
        <!-- Control Sidebar Toggle Button -->
        <!-- <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
      </ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU</li>
      <li routerLinkActive="active">
        <a [routerLink]="['/doctors']"><i class="fa fa-child"></i> <span>MÉDICOS</span></a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/medicalSpecialty']"><i class="fa fa-medkit"></i> <span>Especialidades </span></a>
      </li>
      <li><a href="#">
          <i class="fa fa-calendar-minus-o"></i>
          <span>AGENDA</span></a>
      </li>
      <li><a href="#">
          <i class="fa fa-users"></i>
          <span>PACIENTES</span></a>
      </li>
      <li><a href="#">
          <i class="fa fa-tasks"></i>
          <span>CONSULTAS</span></a>
      </li>     
    </ul>
  </section>
</aside>