<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    @sdparkjr
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2019 <a href="#">ClinicaSim</a>.</strong> Todos os direitos reservados.
</footer>