<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Atualizar Dados</h3> /
        <a title="Voltar" [routerLink]="['/doctors']">
            Voltar <i class="fa fa-back"></i>
        </a>

    </div>
    <div class="box-body">

        <form role="form" [formGroup]="formDoctor" (ngSubmit)="onSubmit()">
            <div class="box-body">
                <div class="form-group">
                    <label for="cpf">
                        CPF:
                    </label>
                    <input type="text" class="form-control" id="cpf" placeholder="Entre com CPF" formControlName="cpf">
                </div>
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="Nome do Médico"
                        formControlName="name">
                </div>

                <!-- select -->
                <div class="form-group">
                    <label>Especialidade</label>
                    <select class="form-control" formControlName="medicalSpecialtyId">
                        <option *ngFor="let item of medicalSpecialty" [value]="item.id">
                            {{item.description}}
                        </option>
                    </select>
                </div>
                <div class="checkbox" id="active">
                    <label>
                        <input type="checkbox"  formControlName="active"> Ativar
                    </label>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" [disabled]="!formDoctor.valid" class="btn btn-primary">{{txtButton}} </button>
            </div>
        </form>


    </div>

</div>