<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Todas os Especialidades</h3>       
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>                                       
                        <th>Descrição</th> 
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of medicalSpecialty">                                          
                        <td>
                          {{item.description}}
                        </td>
                     
                        <td style="width: 140px">                          
                            <!-- <a title="Atualizar Dados" [routerLink]="['/doctors',item.id]">
                                <i class="fa  fa-user text-orange"></i>
                            </a> /
                            <a title="Agenda do Médico" [routerLink]="['/doctors',item.id]">
                                <i class="fa fa-calendar-minus-o text-blue"></i>
                            </a> -->                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>