<body class="hold-transition skin-green" [ngClass]="(true==exibirMenu)?'sidebar-mini':'sidebar-collapse'" >  
  <div class="wrapper">
    <app-header *ngIf="exibirMenu"></app-header>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
           <!-- Main content -->
      <section class="content container-fluid">      
        <router-outlet></router-outlet> 
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>   
  </div>
  