<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Todos os Médicos</h3> /
        <a title="Cadastrar Novo" [routerLink]="['/doctors',0]">
            Adicionar <i class="fa fa-plus-circle"></i>
        </a>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Especialidade</th>                        
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of doctors">
                        <td>
                            {{item.cpf}}
                        </td>
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.medicalSpecialty}}
                        </td>
                        <td>
                            <span class="pull-right badge bg-green" *ngIf="item.active == true" >Ativo</span>
                            <span class="pull-right badge bg-red" *ngIf="item.active == false">Inativo</span>
                        </td>
                        <td style="width: 140px">
                          
                            <a title="Atualizar Dados" [routerLink]="['/doctors',item.id]">
                                <i class="fa  fa-user text-orange"></i>
                            </a> /
                            <a title="Agenda do Médico" [routerLink]="['/doctors',item.id]">
                                <i class="fa fa-calendar-minus-o text-blue"></i>
                            </a>

                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>